img{
  object-fit: cover;
}

.card {
  margin-left: 24px;
}

.icon-left{
  color: rgb(15, 189, 15);
  flex: 1 auto;
  order: 1;
  :hover{
    opacity: 0.5;
  }
}

.icon-right{
  color: grey;
  flex: 1 auto;
  order: 3;
  :hover{
    opacity: 0.5;
  }
}

.vote-count{
  flex: 3 0px;
  order: 2;
  text-align: center;
}

.wrapper{
  display: flex;
}
